@font-face {
  font-family: "Maison";
  src: url("./assets/fonts/Maison.woff2") format("woff2");
}

body,
h1,
h2,
button,
a,
div {
  font-family: "Maison";
}

:root {
  --vinted-color: #0cadb7;
  --minted-color: #eb484c;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}

input:focus {
  outline: none;
}

/*----- HEADER ----- */

header {
  width: 1280px;
  height: 130px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 120px;
}

header .search-container {
  position: relative;
}

header .search-icon {
  position: absolute;
  top: 12px;
  left: 10px;
  color: #bbb;
}

header input[type="search"] {
  height: 40px;
  width: 600px;
  border: none;
  background-color: rgb(245, 246, 247);
  border-radius: 5px;
  padding-left: 40px;
}
header input[type="search"]::placeholder {
  color: lightgray;
}

header button {
  text-decoration: none;
  font-size: 12px;
  width: 120px;
  padding: 8px 2px;
  border-radius: 5px;
  border: solid 1px var(--minted-color);
  color: var(--minted-color);
  background-color: white;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 10px;
}

header button.sales-button {
  background-color: var(--minted-color);
  color: white;
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort-label {
  font-size: 12px;
  margin-right: 20px;
}
.react-toggle--checked,
.react-toggle-thumb {
  border-color: var(--minted-color) !important;
}

.react-toggle-track {
  background-color: var(--minted-color) !important;
}

.range-container {
  display: flex;
  width: 400px;
  align-items: center;
}
.range-price-label {
  width: 100px;
  font-size: 12px;
}
.rc-slider-track-1 {
  background-color: var(--minted-color) !important;
}

.rc-slider-handle {
  border-color: var(--minted-color) !important;
}

.rc-slider-handle:active {
  box-shadow: 0 0 5px var(--minted-color) !important;
}

/*----- MODAL ----- */

.modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(17, 17, 17, 0.48);
}

.modal-closer {
  cursor: pointer;
}

/*----- SIGNUP / LOGIN ----- */

.signup-container2,
.login-container2 {
  position: fixed;
  top: 25vh;
  left: 50vw;
  padding: 20px 0;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  background-color: #fff;
}

.signup-container2 form,
.login-container2 form {
  width: 275px;
  display: flex;
  flex-direction: column;
}

.signup-container2 input,
.login-container2 input {
  color: #000;
  border: none;
  margin-bottom: 20px;
  border-bottom: 1px solid #fcced3;
  padding: 10px 0;
}

.signup-container2 form input[type="text"]::placeholder,
.signup-container2 form input[type="email"]::placeholder,
.signup-container2 form input[type="password"]::placeholder,
.login-container2 form input[type="email"]::placeholder,
.login-container2 form input[type="password"]::placeholder {
  color: lightgray;
}

.checkbox-container {
  margin-bottom: 20px;
}

.checkbox-container div {
  display: flex;
  color: #666;
}

.checkbox-container input {
  transform: scale(2);
  margin-right: 10px;
}

.checkbox-container .privacy {
  color: #999;
  font-size: 12px;
}

.signup-container2 button,
.login-container2 button {
  font-size: 16px;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px 18px;
  background-color: var(--minted-color);
  margin-bottom: 20px;
  cursor: pointer;
}

.signup-container2 a,
.login-container2 a {
  font-size: 12px;
  text-decoration: none;
  color: var(--minted-color);
}

/*----- HOME ----- */

.hero {
  background-image: url("./assets/img/paper.svg"), url("./assets/img/hero.jpg");
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-size: contain, cover;
  height: 320px;
  padding: 80px 50px;
}

.box-home {
  background-color: white;
  width: 360px;
  padding: 60px 30px;
}

.box-home div {
  font-size: 34px;
  margin-bottom: 20px;
}

.box-home button {
  font-size: 16px;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 12px 18px;
  background-color: var(--minted-color);
  cursor: pointer;
}

.grid-offers {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.card-offer {
  text-decoration: none;
  margin-right: 20px;
}

.offer {
  width: 235px;
  display: flex;
  flex-direction: column;
}

.offer-username {
  color: grey;
  font-size: 12px;
}

.offer-detail {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.offer-detail span {
  color: black;
  font-size: 14px;
}
.offer-detail span:not(:first-child) {
  color: grey;
  font-size: 12px;
}

/*----- SIGNUP / LOGIN ----- */

.signup-container,
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  background-color: #fff;
}

.signup-container form,
.login-container form {
  width: 275px;
  display: flex;
  flex-direction: column;
}

.signup-container input,
.login-container input {
  color: #000;
  border: none;
  margin-bottom: 20px;
  border-bottom: 1px solid #fcced3;
  padding: 10px 0;
}

.signup-container form input[type="text"]::placeholder,
.signup-container form input[type="email"]::placeholder,
.signup-container form input[type="password"]::placeholder,
.login-container form input[type="email"]::placeholder,
.login-container form input[type="password"]::placeholder {
  color: lightgray;
}

.checkbox-container {
  margin-bottom: 20px;
}

.checkbox-container div {
  display: flex;
  color: #666;
}

.checkbox-container input {
  transform: scale(2);
  margin-right: 10px;
}

.checkbox-container .privacy {
  color: #999;
  font-size: 12px;
}

.signup-container button,
.login-container button,
.offer-page button,
.publish-page button,
.payment-page button {
  font-size: 16px;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px 18px;
  background-color: var(--minted-color);
  margin-bottom: 20px;
  cursor: pointer;
}

.signup-container a,
.login-container a {
  font-size: 12px;
  text-decoration: none;
  color: var(--minted-color);
}

/*----- OFFER ----- */

.offer-page {
  height: calc(100vh - 80px);
  background-color: #eaedee;

  padding-top: 20px;
  /* width: 1000px;
  margin: 0 auto; */
}

.offer-container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.offer-img img {
  height: 600px;
  object-fit: cover;
}

.offer-block {
  background-color: white;
  width: 320px;
  height: 500px;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
}

.offer-price {
  font-size: 24px;
}

.offer-details {
  padding: 0 0 60px 0;
  border-bottom: solid 1px lightgray;
}

.offer-details li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 8px;
}

.offer-details li span {
  width: 140px;
  font-size: 14px;
}

.offer-details-key {
  color: #999;
}

.offer-details-value,
.offer-info {
  color: #666;
}

.offer-more {
  padding: 40px 0;
}

.offer-more div {
  margin-bottom: 20px;
}

.offer-name {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
}

/*----- PUBLISH ----- */

.publish-page {
  background-color: #eaedee;

  padding: 20px 0;
}

.publish-container {
  width: 1280px;
  margin: 0 auto;
}

.publish-container input {
  width: 50%;
  border: none;
  border-bottom: solid 1px #eaedee;
}

.publish-container input::placeholder {
  color: lightgray;
}
.publish-product-file-upload,
.publish-product-info,
.publish-product-details,
.publish-product-sale {
  border: solid 1px lightgrey;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  margin-bottom: 20px;
}

.publish-page img {
  width: 400px;
}

.publish-product-title,
.publish-product-description,
.publish-product-brand,
.publish-product-size,
.publish-product-color,
.publish-product-condition,
.publish-product-city,
.publish-product-price {
  padding: 20px 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.publish-product-swap {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.publish-button {
  display: flex;
  justify-content: flex-end;
}

/*----- PAYMENT ----- */

.payment-page {
  height: calc(100vh - 80px);
  background-color: #eaedee;
  padding-top: 20px;
}

.payment-container {
  width: 600px;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
}
.payment-container form {
  padding-top: 20px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.payment-order,
.payment-fee,
.payment-shipping,
.payment-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px 0;
}

.payment-total,
.payment-container form {
  border-top: solid 1px lightgrey;
}

.payment-recap-order {
  margin-bottom: 30px;
}

.payment-recap-order span {
  font-weight: bold;
}

.payment-confirm {
  margin-right: 10px;
}

.payment-confirm span {
  font-weight: bold;
}

.payment-confirm svg {
  color: var(--minted-color);
}
